<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebHost" value="http://localhost:62551"/>
    <add key="WebApiHost" value="http://localhost:61274"/>
    <add key="UpdateProgressInterval" value="5"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
