<div>
    <style>
    .previewReport .modal-dialog {
    width: 800px;
    }
    </style>
    <div class="modal-header">
        <button type="submit" translate class="btn btn-green" translate ng-click="printReport()" style="margin-right:50px;margin-left:250px;">
            PrintReport
        </button>
        <button class="btn btn-default" ng-click="close()" translate>Close</button>
    </div>
    <div class="modal-body" style="padding-bottom:0;height:600px;">
        <iframe id="iframeReport" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto"></iframe>
    </div>

</div>