<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="CacheManagerSettings" type="Microsoft.ApplicationBlocks.Cache.CacheConfigurationHandler,Microsoft.ApplicationBlocks.Cache,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <section name="ConnectionManagerProviders" type="Microsoft.ApplicationBlocks.SmartClient.Offline.MultiProviderConfigHandler,Microsoft.ApplicationBlocks.SmartClient.Offline,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <section name="QueueManagerProviders" type="Microsoft.ApplicationBlocks.SmartClient.Offline.MultiProviderConfigHandler,Microsoft.ApplicationBlocks.SmartClient.Offline,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <section name="crytpographicSettings" type="Microsoft.ApplicationBlocks.Common.Crypto.CryptographicConfigurationHandler, Microsoft.ApplicationBlocks.Common,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DAPContext" connectionString="Data Source=C:\Haoyisheng\Dap\DAP.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" name="Cache Manager" />
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Isolated Storage" name="Cache Manager for Exam" />
    </cacheManagers>
  </cachingConfiguration>
  <ConnectionManagerProviders>
    <provider name="connectionDetectionStrategy" enabled="true" type="Microsoft.ApplicationBlocks.SmartClient.Offline.WinINetDetectionStrategy,Microsoft.ApplicationBlocks.SmartClient.Offline.Providers,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null">
      <pollingInterval>1</pollingInterval>
    </provider>
  </ConnectionManagerProviders>
  <QueueManagerProviders>
    <provider name="queueManagerStorageProvider" enabled="false" type="Microsoft.ApplicationBlocks.SmartClient.Offline.IsolatedStorageQueueStorageProvider,Microsoft.ApplicationBlocks.SmartClient.Offline.Providers,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" encrypted="false" signed="false" cryptoProvider="default" />
    <provider name="queueManagerStorageProvider" enabled="true" type="Microsoft.ApplicationBlocks.SmartClient.Offline.InMemoryQueueStorageProvider,Microsoft.ApplicationBlocks.SmartClient.Offline.Providers,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" encrypted="false" signed="false" cryptoProvider="default" />
    <provider name="queueManagerStorageProvider" enabled="false" type="Microsoft.ApplicationBlocks.SmartClient.Offline.MSMQQueueStorageProvider,Microsoft.ApplicationBlocks.SmartClient.Offline.Providers,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" encrypted="false" signed="false" cryptoProvider="default">
      <queueName>ConnectionManagementQuickStartQueue</queueName>
    </provider>
    <provider name="queueManagerStorageProvider" enabled="false" type="Microsoft.ApplicationBlocks.SmartClient.Offline.MSDEQueueStorageProvider,Microsoft.ApplicationBlocks.SmartClient.Offline.Providers,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" encrypted="false" signed="false" cryptoProvider="default">
      <applicationName>Connection Management Quick Start</applicationName>
      <connectionString>Initial Catalog=QueueDatabase;Data Source=[MsdeServerName]\[MsdeInstanceName];Integrated security=true</connectionString>
    </provider>
  </QueueManagerProviders>
  <crytpographicSettings>
    <cryptographicInfo name="default" type="Microsoft.ApplicationBlocks.Common.Crypto.DPAPIProvider,Microsoft.ApplicationBlocks.Common,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" validationKey="Create a new validation key using the validation key generation utility and place here" validation="SHA1" />
  </crytpographicSettings>
  <CacheManagerSettings>
    <!-- DATA PROTECTION SETTINGS
      Use DataProtectionInfo to set the assembly and class which implement
      the dataprotection interfaces for the cache.
      -->
    <DataProtectionInfo AssemblyName="Microsoft.ApplicationBlocks.Cache,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" ClassName="Microsoft.ApplicationBlocks.Cache.DataProtection.DefaultDataProtection" ValidationKey="Create a new validation key using the validation key generation utility and place here" Validation="SHA1" />
    <!-- STORAGE SETTINGS
      Use StorageInfo to set the assembly and class which implement
      the storage interfaces for the cache.
      
      Modes: InProc, OutProc
      -->
    <!--<StorageInfo AssemblyName="Microsoft.ApplicationBlocks.SmartClient.Offline.Providers,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" ClassName="Microsoft.ApplicationBlocks.SmartClient.Offline.IsolatedStorageCacheStorage" Mode="InProc" Validated="false" Encrypted="false" />-->
    <StorageInfo AssemblyName="Microsoft.ApplicationBlocks.Cache,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" ClassName="Microsoft.ApplicationBlocks.Cache.Storages.SingletonCacheStorage" Mode="InProc" Validated="false" Encrypted="false" RemotingUrl="tcp://localhost:8282/CacheService" />
    <!--<StorageInfo AssemblyName="Microsoft.ApplicationBlocks.Cache,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" ClassName="Microsoft.ApplicationBlocks.Cache.Storages.SqlServerCacheStorage"
         Mode="InProc" ConnectionString="Initial Catalog=CacheDatabase;Data Source=[MsdeServerName]\[MsdeInstanceName];Integrated security=true"
         Encrypted="false" Validated="false" ApplicationName="Connection Management Quick Start" RemotingUrl="tcp://localhost:8282/CacheService" />-->
    <!--<StorageInfo AssemblyName="Microsoft.ApplicationBlocks.Cache,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" ClassName="Microsoft.ApplicationBlocks.Cache.Storages.MmfCacheStorage" Mode="InProc" BasePath="c:\mmfcache\" Encrypted="false" Validated="false" MmfDictionarySize="1048576" RemotingUrl="tcp://localhost:8282/CacheService"/>-->
    <!-- 
         MmfDictionarySize - It is the size (in bytes) of the dictionary object (in MmfCacheStorage) used to store the references of cache items. 
      -->
    <!-- SCAVENGING SETTINGS
         Use the ScavengingAlgorithm to set a class that will be executed when
         scavenging is performed.
      -->
    <ScavengingInfo AssemblyName="Microsoft.ApplicationBlocks.Cache,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" ClassName="Microsoft.ApplicationBlocks.Cache.Scavenging.LruScavenging" MemoryPollingPeriod="60" UtilizationForScavenging="80" MaximumSize="100" />
    <ExpirationInfo Interval="1" />
  </CacheManagerSettings>
  <appSettings>
    <add key="PdfPrinter" value="C:\Program Files (x86)\Foxit Software\Foxit Reader\FoxitReader.exe" />
    <add key="Version" value="1.0.0.11" />
    <add key="DequeueInterval" value="100" />
    <add key="MaxRetry" value="3" />
    <add key="UploadInterval" value="5" />
    <add key="DeleteDCMTempFile" value="1" />
    <add key="DICOMFilePath" value="C:\Haoyisheng\CareAgent\Acquisition" />
    <add key="DICOMLocalAE" value="CAClient" />
    <add key="DICOMLocalPort" value="105" />
    <add key="DICOMTimeOut" value="10" />
    <add key="UpdateCheckInterval" value="2" />
  </appSettings>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="Hys.CareAgent.Main.EnableCrossOriginResourceSharingBehavior, Hys.CareAgent.Main, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Hys.CareAgent.WcfService.RisProTaskService">
        <endpoint address="risProtasks" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Hys.CareAgent.WcfService.Contract.IRisProTaskService" bindingConfiguration="webHttpBindingWithJsonP" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60001/api" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="Hys.CareAgent.WcfService.VersionService">
        <endpoint address="versions" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Hys.CareAgent.WcfService.Contract.IVersionService" bindingConfiguration="webHttpBindingWithJsonP" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60002/api" />
          </baseAddresses>
        </host>
      </service>
      <service name="Hys.CareAgent.WcfService.CardReaderCh340.CardReaderService">
        <endpoint address="cards" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Hys.CareAgent.WcfService.Contract.ICardReaderService" bindingConfiguration="webHttpBindingWithJsonP" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:60003/api" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="1.2.11.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>