<?xml version="1.0" encoding="utf-8" ?><IMCfg><DeviceFolder>Device</DeviceFolder>
<InterfaceFolder>Interface</InterfaceFolder>
<DataDBConnection><![CDATA[Provider=SQLNCLI;Server=localhost\sqlserver12;Database=GWDataDB;UID=sa;Password=hys_1234;]]></DataDBConnection>
<ConfigDBConnection><![CDATA[Provider=SQLNCLI;Server=localhost\sqlserver12;Database=GWConfigDB;UID=sa;Password=hys_1234;]]></ConfigDBConnection>
<HelpFileName><![CDATA[..\Manual\Gateway_Service_Manual.pdf]]></HelpFileName>
<AppCaption><![CDATA[HYS - Interface Manager]]></AppCaption>
<ShowDeviceViewWhenStartup>False</ShowDeviceViewWhenStartup>
<ShowConfigWhenInterfaceInstall>True</ShowConfigWhenInterfaceInstall>
<OSqlFileName><![CDATA[C:\Program Files\Microsoft SQL Server\110\Tools\Binn\osql.exe]]></OSqlFileName>
<OSqlParameter><![CDATA[-S (local) -E]]></OSqlParameter>
<RecentDeviceSelectionFolder>D:\share\GCGateway_2.0.00.B09\Device_XReg</RecentDeviceSelectionFolder>
<LoginUser><![CDATA[3A802Yp6SkzmaLGwMK0b6w==]]></LoginUser>
<LoginPassword><![CDATA[3A802Yp6SkzmaLGwMK0b6w==]]></LoginPassword>
<RegularExpressions><RegularExpressionItem><Expression><![CDATA[[\^]]]></Expression>
<Replacement><![CDATA[ ]]></Replacement>
<Description><![CDATA[Replace ^ with blank.]]></Description>
</RegularExpressionItem>
<RegularExpressionItem><Expression><![CDATA[(^\s*)|(\s*$)]]></Expression>
<Replacement><![CDATA[]]></Replacement>
<Description><![CDATA[Trim blank on the both sides of a string.]]></Description>
</RegularExpressionItem>
<RegularExpressionItem><Expression><![CDATA[[/]]]></Expression>
<Replacement><![CDATA[-]]></Replacement>
<Description><![CDATA[Replace / with - in date time string.]]></Description>
</RegularExpressionItem>
<RegularExpressionItem><Expression><![CDATA[\b(?<month>\d{1,2})/(?<day>\d{1,2})/(?<year>\d{2,4})\b]]></Expression>
<Replacement><![CDATA[${year}-${month}-${day}]]></Replacement>
<Description><![CDATA[Transform date time from MM/DD/YYYY to YYYY-MM-DD.]]></Description>
</RegularExpressionItem>
<RegularExpressionItem><Expression><![CDATA[\b(?<year>\d{2,4})(?<month>\d{1,2})(?<day>\d{1,2})\b]]></Expression>
<Replacement><![CDATA[${year}-${month}-${day}]]></Replacement>
<Description><![CDATA[Transform date time from YYYYMMDD to YYYY-MM-DD.]]></Description>
</RegularExpressionItem>
<RegularExpressionItem><Expression><![CDATA[\b(?<family>\w+)\^(?<given>\w+)\b]]></Expression>
<Replacement><![CDATA[${given}^${family}]]></Replacement>
<Description><![CDATA[Transform person name from "Family Name^Given Name" to "Given Name^Family Name".]]></Description>
</RegularExpressionItem>
</RegularExpressions>
</IMCfg>
