
<div class="csd-popup csd-popup-dialog csd-popup-with-form csd-popup-dismissable">
    <p class="registration-module-title">{{title}}</p>
    <div class="popup-content" data-ris-auto-height="70%" id="registrationContent" ris-scroll-spy offset="70" ris-enter-action>
        <article style="width:100%">
            <ris-fieldset ng-disabled="isSaved">
                <form name="newRegistrationForm" accessibleform>
                    <div class="row">
                        <div id="newRegistrationFormNav" class="col-md-2">
                            <ul class="nav nav-registration">
                                <li><a href="javascript:void(0);" ris-spy='patientInfo' ng-click="goAn" translate>PatientBaseInfo</a></li>
                                <li><a href="javascript:void(0);" ris-spy='orderInfo' translate>OrderInfo</a></li>
                                <li><a href="javascript:void(0);" ris-spy='orderPlan' translate>OrderPlan</a></li>
                            </ul>
                        </div>

                        <div id="newRegistrationFormContainer" class="col-md-10">

                            <div class="row" id="patientInfo">
                                <div class="container-title">
                                    <span translate>PatientBaseInfo</span>
                                </div>
                                <div>
                                    <hr class="container-divide" />
                                </div>
                                <div class="registration-edit-inputGroup col-md-11">
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="patientNo">{{'PatientNo'|translate}}<span class="registration-edit-required">*</span></label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control"
                                                   id="patientNo"
                                                   ng-model="patient.patientNo"
                                                   placeholder="{{'PatientNo'|translate}}"
                                                   name="patientNo"
                                                   maxlength=128
                                                   disabled
                                                   tabindex="1"
                                                   required>
                                        </div>
                                        <div ng-messages="newRegistrationForm.patientNo.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <div ng-message="required"><span class="label label-danger" translate>RequiredErrorMsg</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="patientName">{{'PatientName'|translate}}<span class="registration-edit-required">*</span></label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control registration-edit-search-box"
                                                   id="localName" placeholder="{{'PatientName'|translate}}"
                                                   ng-model="patient.localName"
                                                   autocomplete="off"
                                                   ris-auto-focus
                                                   name="localName"
                                                   ris-enter-index
                                                   maxlength="128"
                                                   required
                                                   tabindex="2"
                                                   aria-describedby="localName2Status"
                                                   ng-blur="simplifiedToEnglish(patient.localName)" />
                                            <span class="glyphicon glyphicon-search form-control-feedback registration-edit-search-btn" ng-click="searchPatient($event)"></span>
                                            <span id="localName2Status" class="sr-only">(search)</span>
                                            <!--search patient data-->
                                            <div class="registration-edit-patient-search-table-container" ng-show="isShowPatientContainer" ris-outside-click='isShowPatientContainer=false'>
                                                <table id="patientSearchTable" class="table table-hover">
                                                    <tbody>
                                                        <!--ng-click="selectPatient(row)"-->
                                                        <tr ng-if="patientItems.length !== 0" ng-repeat="row in patientItems" ng-click="selectPatient(row)">
                                                            <!--<td ng-bind-html="row.accNo | risTextHighlight : $parent.accNoHighlightString"></td>-->
                                                            <td>{{row.localName}}</td>
                                                            <td>{{row.gender}}</td>
                                                            <td>{{row.birthday|date:'MM/dd/yyyy'}}</td>
                                                            <td>{{row.referenceNo}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                        <div ng-messages="newRegistrationForm.localName.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <div ng-message="required"><span class="label label-danger" translate>RequiredErrorMsg</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="EnglishName">{{'EnglishName'|translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control"
                                                   id="englishName" placeholder="{{'EnglishName'|translate}}"
                                                   ng-model="patient.englishName"
                                                   ris-enter-index
                                                   name="englishName"
                                                   tabindex="3"
                                                   maxlength="128" />
                                        </div>

                                        <div ng-messages="newRegistrationForm.englishName.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!--<div ng-message="required"><span class="label label-danger" translate>RequiredErrorMsg</span></div>-->
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="ReferenceNo" translate>ReferenceNo</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control"
                                                   id="referenceNo"
                                                   name="referenceNo"
                                                   ng-model="patient.referenceNo"
                                                   maxlength=128
                                                   tabindex="4"
                                                   ris-enter-index
                                                   ris-id-number
                                                   placeholder="{{'ReferenceNo'|translate}}" />
                                        </div>
                                        <div ng-messages="newRegistrationForm.referenceNo.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <div ng-message="IDNumber_valid">
                                                <span class="label label-danger">
                                                    <span translate>IDCardNumberError</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="gender">{{'Gender'|translate}}<span class="registration-edit-required">*</span></label>
                                        </div>
                                        <div class="col-md-5" tabindex="5">
                                            <select class="form-control" ng-model="patient.gender" name="gender"
                                                    ng-options="gender.value as gender.text for gender in genderList"
                                                    required
                                                    ris-enter-index></select>
                                        </div>
                                        <div ng-messages="newRegistrationForm.gender.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                            <div ng-message="required"><span class="label label-danger" translate>RequiredErrorMsg</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="Birthday">{{'Birthday'|translate}}</label>
                                        </div>
                                        <div class="col-md-5" tabindex="8">
                                            <p class="input-group" style="width:100%">
                                                <input kendo-date-picker="registEidtbirthdayPicker"
                                                       autocomplete="off"
                                                       k-max="maxDate"
                                                       id="registEidtbirthday"
                                                       name="birthday"
                                                       ng-model="patient.birthday"
                                                       k-format="'yyyy-MM-dd'"
                                                       ng-keydown="birthdayKey($event)"
                                                       ng-click="birthdayclick()"
                                                       ng-change="setAge()"
                                                       style="width:100%" />
                                            </p>
                                        </div>

                                        <div ng-messages="newRegistrationForm.birthday.$error" class="col-md-4" ng-if="isShowTransformError">
                                            <!-- the required message is displayed first... -->
                                            <div ng-message="transform">
                                                <span class="label label-danger">
                                                    <span ng-bind="newRegistrationForm.birthday.transformAgeError">
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                        <div ng-messages="newRegistrationForm.currentAge.$error" class="col-md-4"
                                             ng-if="isShowErrorMsg||isShowTransformError">
                                            <!-- the required message is displayed first... -->
                                            <div ng-message="transform">
                                                <span class="label label-danger">
                                                    <span ng-bind="newRegistrationForm.currentAge.transformAgeError">
                                                    </span>
                                                </span>
                                            </div>
                                            <div ng-message="required" ng-if="isShowErrorMsg"><span class="label label-danger" translate>AgeRequiredErrorMsg</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="currentAge">{{'Age'|translate}}<span class="registration-edit-required">*</span></label>
                                        </div>
                                        <div class="col-md-5" tabindex="7">
                                            <input type="text" class="form-control" id="currentAge" name="currentAge" ris-enter-index
                                                   ng-model="order.currentAge" placeholder="{{'Age'|translate}}" ng-change="setBirthday()" required tabindex="6" />
                                        </div>
                                        <div class="col-md-2">
                                            <select class="form-control" ng-model="order.ageType"
                                                    ng-options="ageType.value as ageType.text for ageType in ageUnitList"
                                                    ng-change="ageTypeChage()"
                                                    ris-enter-index></select>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="Telephone">{{'Telephone'|translate}}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" ris-enter-index id="telephone" placeholder="{{'Telephone'|translate}}"
                                                   name="telephone" ng-model="patient.telephone" ng-pattern="/(^(\d{3,4}-)?\d{7,8})$|(1[3,5,7,8][0-9]{9})/" tabindex="9" />
                                        </div>
                                        <div ng-messages="newRegistrationForm.telephone.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <div ng-message="pattern"><span class="label label-danger" translate>TelephoneErrorMsg</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="address">{{'Address'|translate}}</label>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ris-enter-index id="address" placeholder="{{'Address'|translate}}"
                                                   name="address" ng-model="patient.address" tabindex="10" />
                                        </div>
                                        <div ng-messages="newRegistrationForm.address.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="checkbox"
                                                   id="IsVip"
                                                   ris-enter-index
                                                   name="IsVip"
                                                   ng-model="patient.isVip" tabindex="10" />
                                            <span>VIP</span>
                                        </div>
                                        <div ng-messages="newRegistrationForm.IsVip.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                            <!--<div ng-message="required">Birthday Required.</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="orderInfo">
                                <div class="container-title">
                                    <span translate>OrderInfo</span>
                                </div>
                                <div>
                                    <hr class="container-divide" />
                                </div>

                                <div class="registration-edit-inputGroup col-md-11">
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="patientType">{{'PatientType'|translate}}<span class="registration-edit-required">*</span></label>
                                        </div>
                                        <div class="col-md-5" tabindex="11">
                                            <select id="patientType" class="form-control" ng-model="order.patientType" name="patientType" required
                                                    ng-options="patientType.value as patientType.text for patientType in patientTypeList"
                                                    ris-enter-index>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div ng-messages="newRegistrationForm.patientType.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                            <div ng-message="required"><span class="label label-danger" translate>RequiredErrorMsg</span></div>
                                        </div>
                                    </div>

                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="chargeType" translate>ChargeType</label>
                                        </div>
                                        <div class="col-md-5" tabindex="12">
                                            <select id="chargeType" class="form-control" ng-model="order.chargeType" name="chargeType"
                                                    ng-options="chargeType.value as chargeType.text for chargeType in chargeTypeList"
                                                    ris-enter-index>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div ng-messages="newRegistrationForm.chargeType.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->

                                        </div>
                                    </div>
                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="applyDept" translate>ApplyDepartment</label>
                                        </div>
                                        <div class="col-md-5" tabindex="13">
                                            <select kendo-combo-box="deptCombox"
                                                    k-data-text-field="'deptName'"
                                                    k-data-value-field="'deptName'"
                                                    k-filter="'contains'"
                                                    k-data-bound="noDataFound"
                                                    k-auto-bind="true"
                                                    ris-enter-index
                                                    k-data-source="applyDeptList"
                                                    onfiltering="applyDeptFiltering(kendoEvent)"
                                                    ng-change="applyDeptChange()"
                                                    style="width:100%;height:26px;"
                                                    ng-model="order.applyDept"></select>
                                        </div>
                                        <div ng-messages="newRegistrationForm.applyDept.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                        </div>
                                    </div>

                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="applyDoctor" translate>ApplyDoctor</label>
                                        </div>
                                        <div class="col-md-5" tabindex="14">
                                            <select kendo-combo-box="doctCombox"
                                                    k-data-text-field="'doctorName'"
                                                    k-data-value-field="'doctorName'"
                                                    k-data-bound="noDataFound"
                                                    k-filter="'contains'"
                                                    k-auto-bind="true"
                                                    ris-enter-index
                                                    k-data-source="applyDoctorList"
                                                    onfiltering="applyDoctorFiltering(kendoEvent)"
                                                    ng-change="applyDoctorChange()"
                                                    style="width:100%;height:26px;"
                                                    ng-model="order.applyDoctor"></select>
                                        </div>
                                        <div ng-messages="newRegistrationForm.applyDoctor.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                        </div>
                                    </div>

                                    <div class="form-group row registration-edit-form-group">
                                        <div class="col-md-3">
                                            <label for="healthHistory" translate>HealthHistory</label>
                                        </div>
                                        <div class="col-md-5">
                                            <textarea class="form-control"
                                                      id="healthHistory"
                                                      ris-enter-index
                                                      name="healthHistory"
                                                      placeholder="{{'HealthHistory'|translate}}" tabindex="15"
                                                      ng-model="order.healthHistory" rows="5" cols="5"></textarea>
                                        </div>
                                        <div ng-messages="newRegistrationForm.healthHistory.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                        </div>
                                    </div>

                                    <div class="form-group row registration-edit-form-group" style="margin-top:3px;">
                                        <div class="col-md-3">
                                            <label for="observation" translate>Observation</label>
                                        </div>
                                        <div class="col-md-5">
                                            <select kendo-combo-box="observationCombox"
                                                    k-data-text-field="'text'"
                                                    k-data-value-field="'text'"
                                                    k-data-bound="noDataFound"
                                                    k-filter="'contains'"
                                                    k-auto-bind="true"
                                                    ris-enter-index="#addCheckItem"
                                                    k-data-source="observationList"
                                                    k-data-bound="noDataFound"
                                                    style="width:100%;height:26px;"
                                                    name="observation"
                                                    ng-model="order.observation" tabindex="16"></select>
                                        </div>
                                        <div ng-messages="newRegistrationForm.observation.$error" class="col-md-4" ng-if="isShowErrorMsg">
                                            <!-- the required message is displayed first... -->
                                            <!--<div ng-message="required">Birthday Required.</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="orderPlan">
                                <div class="container-title">
                                    <span translate>OrderPlan</span>
                                </div>
                                <div>
                                    <hr class="container-divide" />
                                </div>

                                <table class="table table-condensed" ng-if="addedProcedures.length !== 0" style="margin-bottom:0;margin-top:18px;">
                                    <thead>
                                        <tr>
                                            <th translate>ModalityType</th>
                                            <th translate>BodyCategory</th>
                                            <th translate>BodyPart</th>
                                            <th translate>CheckingItem</th>
                                            <th translate>CheckingSystem</th>
                                            <th translate>Modality</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat=" row in addedProcedures">
                                            <td>{{row.modalityType}}</td>
                                            <td>{{row.bodyCategory}}</td>
                                            <td>{{row.bodyPart}}</td>
                                            <td>{{row.checkingItem}}</td>
                                            <td>{{row.examSystem}}</td>
                                            <td>{{row.modality}}</td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-sm" ng-click="updateAddedProcedure(row)">
                                                    <span class="glyphicon glyphicon-pencil procedure-operation"></span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="btn btn-sm" ng-click="deleteAddedProcedure(row.procedureCode)">
                                                    <span class="glyphicon glyphicon-remove procedure-operation"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="registration-edit-inputGroup col-md-11">
                                    <div class="col-md-3">
                                        <input type="button" ris-focus-on="notSelectProcedure" id="addCheckItem" class="btn btn-primary" style="border-radius: 3px;" ng-click="addProcedure()" value="{{'AddProcedure'|translate}}" />
                                        <span class="label label-danger" translate ng-show="isShowNotSelectedError">NotSelectCheckingItemErrorMsg</span>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </ris-fieldset>
        </article>
    </div>

    <!--order history popover-->
    <div class="registration-edit-order-history-popover" tabindex="10" ng-show="isShowProcedureHistoryContainer"  
         ris-outside-click="hidePopoverClick()" ignore="caonima">
        <div class="conten-title-container">
            <span class="content-title" translate>ProceduresHistory</span>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" ng-click="hidePopoverClick()"></span>
        </div>
        <div class="history-table-container">
            <table id="procedureHistoryTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th translate>CreateTime</th>
                        <th translate>Procedure</th>
                        <th translate>AccNo</th>
                        <th translate>ModalityType</th>
                        <th translate>Modality</th>
                        <th translate>Registrar</th>
                        <th translate>Status</th>
                        <th translate>PreviewReport</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat=" row in procedureHistoryItems" ng-if="procedureHistoryItems.length !== 0">
                        <td>{{row.createTime|date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>{{row.rpDesc}}</td>
                        <td>{{row.accNo}}</td>
                        <td>{{row.modalityType}}</td>
                        <td>{{row.modality}}</td>
                        <td>{{row.registrar}}</td>
                        <td ng-bind-html="row.status|statusFilter:statusList"></td>
                        <td ng-hide="row.reportID===null">
                            <a href="javascript:void(0);" class="iconfont icon-baogaomoban" title="{{'PreviewReport'|translate}}" ng-mouseenter="$parent.prepareSummary(row)"
                               ng-click="$parent.showSummary()"
                               ris-popover popover-container="body" popover-auto-hide="true" data-overwrite="true" use-optimized-placement-algorithm="true"
                               data-placement="auto right left bottom top" data-templateurl="/app/registration/views/registration-history-report-preview.html"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <p class="csd-module-footer registration-edit-footer">
        <a href="javascript:void(0);" title="查看历史检查信息">
            <span id="hidePopover" class="glyphicon glyphicon-new-window content-container-show" aria-hidden="true"
                  ng-click="popoverProcedureHistoryContainer()" ng-if="!isShowProcedureHistoryContainer" ignore="true">
            </span>
        </a>      
        <!--ng-disabled="userForm.$pristine || userForm.$invalid"-->
        <button type="submit" class="btn btn-primary  btn-registration-edit-save" form="#" ng-click="save(newRegistrationForm)" translate>Ok</button>
        <button type="button" class="btn btn-primary" ng-click="printRequisition()" translate ng-if="!isMobile">PrintRequisition</button>
        <button type="button" class="btn btn-primary" ng-click="printBarCode()" translate ng-if="!isMobile">PrintBarCode</button>
        <button type="button" class="btn btn-primary" ng-click="scanRequisition()" translate ng-disabled="isSaved" ng-if="!isMobile">ScanRequisition</button>
        <input type="button" class="btn  btn-primary"
               timeslice-launcher
               t-operater="timesliceOperater"
               t-options="timesliceOption"
               ng-click="modifySlice()"
               value="{{'ModifySplic'|translate}}" ng-if="isBooking" ng-disabled="isSaved" />
        <button class="btn btn-primary" type="button" ng-click="cancel()" ng-disabled="isSaved" translate>Cancel</button>
    </p>
</div>
