.table-description {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 10px;
    .table-description-content {
        width: 100%;
        height: 100%;
    }
    .operate-container {
        position: absolute;
        top: -35px;
        right: 11px;
        .common-operate {
            font-size: 14px;
            color: #5c9df5;
            cursor: pointer;
            .common-operate-background {
                margin-right: 2px;
                margin-top: 2px;
                float: left;
                width: 17px;
                height: 17px;
                background: #d8d8d8;
            }
        }
    }
}