<?xml version="1.0" encoding="utf-8" ?><AdapterConfigCfg><AdapterFileName>HYS.RdetOutboundAdapterConfiguration.exe</AdapterFileName>
<AdapterDirection>OUTBOUND</AdapterDirection>
<DataDBConnection>Provider=SQLOLEDB;Server=CNSHW9RSZM1X;Database=GWDataDB;UID=10098135;Trusted_Connection=Yes;</DataDBConnection>
<ConfigDBConnection>Provider=SQLOLEDB;Server=CNSHW9RSZM1X;Database=GWConfigDB;UID=10098135;Trusted_Connection=Yes;</ConfigDBConnection>
<WindowSize>800, 600</WindowSize>
<WarnBeforeCancel>True</WarnBeforeCancel>
</AdapterConfigCfg>
