.common-head {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fcfcfc;
    box-shadow: 0 2px 4px 0 rgba(220, 220, 220, 0.50);
    .common-icon {
        width: 40px;
        height: 40px;
        float: left;
        position: relative;
        margin-left: 29px;
        line-height: 40px;
        text-align: center;
    }
    .patient-name {
        float: right;
        margin-right: 68px;
        .ant-dropdown-icon {
            width: 15px;
            height: 9px;
            position: absolute;
            top: 15px;
            right: 47px;
            z-index: 998;
            cursor: pointer;
            background: url('../../../common/image/fill.png') no-repeat center center;
        }
    }
}