.common-head {
    background: #fcfcfc;
    box-shadow: 0 2px 4px 0 rgba(134, 134, 134, 0.50);
    height: 40px;
    width: 100vw;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    background: #fff url('../../../common/image/logo.png') no-repeat 29px 8px;
}