<div kendo-window="risChangePasswordWindow"
     k-width="'400px'" k-height="'350px'"
     k-visible="false" style="display:none;"
     k-resizable="false" k-modal="true"
     k-title="'修改密码'"
     k-actions="[]">
    <form class="window-form password-form" name="changePasswordForm">
        <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <input name="oldPassword" type="password" class="form-control" ng-model="oldPassword" ng-blur="getOldErrorInfo()" placeholder="请输入原密码">
        </div>
        <div class="password-error" style="height: 20px;line-height: 20px">
            {{oldErrorInfo}}
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <input name="newPassword" type="password" class="form-control" ng-model="newPassword" ng-blur="getNewErrorInfo()" placeholder="请输入新密码">
        </div>
        <div class="password-error" style="height: 20px;line-height: 20px">
            {{newErrorInfo}}
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-lock"></span>
            <input name="confirmPassword" type="password" class="form-control" ng-model="confirmPassword" ng-blur="getConfirmErrorInfo()" placeholder="确认新密码">
        </div>
        <div class="password-error" style="height: 20px;line-height: 20px">
            {{confirmErrorInfo}}
        </div>
        <div class="form-group" style="margin-top: 0">
            <button ng-click="okChange()" class="btn btn-sm btn-primary login_btn" type="button" tabindex="0">确认</button>
            <button ng-click="cancelChange()" class="btn btn-sm btn-primary login_btn login_btn_cancel" type="button" tabindex="1">取消</button>
        </div>
    </form>

</div>