<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CustomSection" type="Kodak.GCRIS.Common.Log.RISPluginSections, Kodak.GCRIS.Common.Log"/>
  </configSections>
  <CustomSection Type="ris_log_webservice" Status="off"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
