<?xml version="1.0" encoding="utf-8" ?><AdapterServiceCfg><AdapterFileName>HYS.DicomAdapter.MWLServer.exe</AdapterFileName>
<AdapterDirection>OUTBOUND</AdapterDirection>
<ServiceName>MPPSIn</ServiceName>
<DataDBConnection>Provider=SQLNCLI;Server=CN-SH-D0406210;Database=GWDataDB;UID=10095177;Trusted_Connection=Yes;</DataDBConnection>
<ConfigDBConnection>Provider=SQLNCLI;Server=CN-SH-D0406210;Database=GWConfigDB;UID=10095177;Trusted_Connection=Yes;</ConfigDBConnection>
<IEMWindowCaption>HaoYiSheng IM - Interface Engine Manager</IEMWindowCaption>
<NotifyStatusToIEM>False</NotifyStatusToIEM>
<DumpData>False</DumpData>
<MutexTimeOut>60000</MutexTimeOut>
<GarbageCollection><Enable>True</Enable>
<StartAtParticularTime>True</StartAtParticularTime>
<ParticularTime><Interval>30000</Interval>
<Time>04/02/2007 02:00:00</Time>
<WeekDay>Unknown</WeekDay>
<MonthDay>Unknown</MonthDay>
<Month>Unknown</Month>
</ParticularTime>
<Interval>60000</Interval>
<CheckExpireTime>True</CheckExpireTime>
<ExpireTime>15.00:00:00</ExpireTime>
<CheckProcessFlag>False</CheckProcessFlag>
</GarbageCollection>
<Chinese2Pinyin><Enable>False</Enable>
<Fields /></Chinese2Pinyin>
<Replacement><Enable>False</Enable>
<Fields /></Replacement>
<Composing><Enable>False</Enable>
<Fields /></Composing>
</AdapterServiceCfg>
