<?xml version="1.0" encoding="utf-8" ?><AdapterServiceCfg><AdapterFileName>HYS.DicomAdapter.StorageServer.exe</AdapterFileName>
<AdapterDirection>INBOUND</AdapterDirection>
<ServiceName>MPPSIn</ServiceName>
<DataDBConnection>Provider=SQLNCLI;Server=CN-SH-D0406210;Database=GWDataDB;UID=10095177;Trusted_Connection=Yes;</DataDBConnection>
<ConfigDBConnection>Provider=SQLNCLI;Server=CN-SH-D0406210;Database=GWConfigDB;UID=10095177;Trusted_Connection=Yes;</ConfigDBConnection>
<IEMWindowCaption>HaoYiSheng IM - Interface Engine Manager</IEMWindowCaption>
<NotifyStatusToIEM>False</NotifyStatusToIEM>
<DumpData>False</DumpData>
<MutexTimeOut>60000</MutexTimeOut>
<GarbageCollection><Enable>True</Enable>
<StartAtParticularTime>True</StartAtParticularTime>
<ParticularTime><Interval>30000</Interval>
<Time>07/24/2007 02:00:00</Time>
<WeekDay>Unknown</WeekDay>
<MonthDay>Unknown</MonthDay>
<Month>Unknown</Month>
</ParticularTime>
<Interval>60000</Interval>
<CheckExpireTime>True</CheckExpireTime>
<ExpireTime>15.00:00:00</ExpireTime>
<CheckProcessFlag>False</CheckProcessFlag>
</GarbageCollection>
<Chinese2Pinyin><Enable>False</Enable>
<Fields /></Chinese2Pinyin>
<Replacement><Enable>True</Enable>
<Fields><ReplacementRuleItem><RegularExpression><Expression><![CDATA[\b(?<year>\d{2,4})(?<month>\d{1,2})(?<day>\d{1,2}) (?<hour>\d{1,2})(?<min>\d{1,2})(?<sec>\d{1,2})\b]]></Expression>
<Replacement><![CDATA[${year}-${month}-${day} ${hour}:${min}:${sec}]]></Replacement>
<Description><![CDATA[Transform date time from YYYYMMDD hhmmss to YYYY-MM-DD hh:mm:ss.]]></Description>
</RegularExpression>
<Table>Order</Table>
<FieldName>EXAM_DT</FieldName>
</ReplacementRuleItem>
</Fields>
</Replacement>
<Composing><Enable>True</Enable>
<Fields><ComposingRuleItem><FromFields><GWDataDBField><Table>Order</Table>
<FieldName>EXAM_DT</FieldName>
</GWDataDBField>
<GWDataDBField><Table>Order</Table>
<FieldName>CUSTOMER_4</FieldName>
</GWDataDBField>
</FromFields>
<ComposePattern><![CDATA[{0} {1}]]></ComposePattern>
<Description /><Table>Order</Table>
<FieldName>EXAM_DT</FieldName>
</ComposingRuleItem>
</Fields>
</Composing>
</AdapterServiceCfg>
