<?xml version="1.0" encoding="utf-8" ?><AdapterConfigCfg><AdapterFileName>HYS.DicomAdapter.StorageServer.exe</AdapterFileName>
<AdapterDirection>INBOUND</AdapterDirection>
<DataDBConnection /><ConfigDBConnection /><WindowSize>800, 600</WindowSize>
<WarnBeforeCancel>True</WarnBeforeCancel>
</AdapterConfigCfg>
