<?xml version="1.0" encoding="utf-8" ?><AdapterConfigCfg><AdapterFileName>HYS.SQLOutboundAdapterConfiguration.exe</AdapterFileName>
<AdapterDirection>OUTBOUND</AdapterDirection>
<DataDBConnection /><ConfigDBConnection /><WindowSize>800, 611</WindowSize>
<WarnBeforeCancel>True</WarnBeforeCancel>
</AdapterConfigCfg>
