<div id="consultation-applied">
    <link href="/app-resources/css/request-completed-view.css" rel="stylesheet" />
    <request-common-layout-view></request-common-layout-view>
    <div class="footer-applied">
        <request-info-back-button></request-info-back-button>
        <div class="action">
            <span ng-if="report.isDeleted == 0">
                <button type="button" class="btn btn-md btn-primary" ng-click="cancelApplication()" ng-if="user.isJuniorDoctor">
                    {{'CancelApplication'|translate}}
                </button>
                <button type="button" class="btn btn-md btn-primary" ng-click="terminatRequest()" ng-if="user.isJuniorDoctor">
                    {{'TerminatForcedly'|translate}}
                </button>
                <button type="button" class="btn btn-md btn-primary" ng-click="acceptRequest()" ng-if="user.isConsultationCenter">
                    {{'AcceptRequest'|translate}}
                </button>
                <button type="button" class="btn btn-md btn-primary" ng-click="rejectRequest()" ng-if="user.isConsultationCenter">
                    {{'RejectRequest'|translate}}
                </button>
            </span>
            <request-delete-button></request-delete-button>
        </div>
    </div>
</div>