.table-menu-from {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}
.ant-modal-content{
    .ant-modal-body{
        padding: 0;
        >.ant-form{
            padding: 15px;
            .ant-form-item{
                margin-bottom: 16px 32px;
            }
        }
    }
}