<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Csh.Hcis.Platform.Application" version="1.0.0.8" targetFramework="net45" />
  <package id="Csh.Hcis.Platform.CrossCutting.Extensions" version="1.0.0.8" targetFramework="net45" />
  <package id="Csh.Hcis.Platform.CrossCutting.Globalization" version="1.0.0.8" targetFramework="net45" />
  <package id="Csh.Hcis.Platform.CrossCutting.LogContract" version="1.0.0.8" targetFramework="net45" />
  <package id="Csh.Hcis.Platform.Data.EntityFramework" version="1.0.0.8" targetFramework="net45" />
  <package id="Csh.Hcis.Platform.Domain" version="1.0.0.8" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>