<div class="g-sidepanel g-sidepanel-expand conf-sidepanel fill">
    <div class="g-sidepanel-title" style="width: auto;" translate>Configration</div>
    <ul class="g-sidepanel-menu">
        <li ng-class="{'highlight':$state.is('ris.worklist.config')}" ui-sref="ris.worklist.config">
            <span class="icon-general conf-icon-general icon-conf_list"></span>
            <span class="title" translate>ClientConfig</span>
        </li>
        <!--<li ng-class="{'highlight':$state.is('ris.worklist.role')}" ui-sref="ris.worklist.role">
            <span class="icon-general conf-icon-general icon-privilege"></span>
            <span class="title" translate>RoleConfig</span>
        </li>-->
    </ul>
</div>
