<tr><!--fix zebra do not remove this empty tag!--></tr>
<tr>
    <td colspan="12">
        <section style="height: 100px;">
            <div style="height: 60px;">

            </div>
            <div class="btn-group pull-right bottomRight" style="margin-left:10px;margin-right:10px;">
                <button type="button" class="btn btn-default">查看计划</button>
                <button type="button" class="btn btn-default">调图</button>
                <button type="button" class="btn btn-default" ng-click="openReport()">编写报告</button>
            </div>
        </section>
    </td>
</tr>