<?xml version="1.0" encoding="utf-8" ?><AdapterConfigCfg><AdapterFileName>HYS.SocketAdapter.SocketInboundAdapterConfiguration.exe</AdapterFileName>
<AdapterDirection>INBOUND</AdapterDirection>
<DataDBConnection /><ConfigDBConnection /><WindowSize>801, 689</WindowSize>
<WarnBeforeCancel>True</WarnBeforeCancel>
</AdapterConfigCfg>
