.system-configure > h5 {
    height: 30px;
    border-bottom:3px solid #f5a623;
    margin-left: 0;
}
.system-configure .table-container {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}
.system-configure .table{
    border-left:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
}
    .system-configure .table tr {
        border-bottom:1px solid #e2e2e2;
    }
        .system-configure .table tr td {
            border-right:1px solid #e2e2e2;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 50%;
            position: relative;
        }
        .system-configure .table tr td > span {
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: relative;
        }
        .system-configure .table tr td .form-control {
            transition: none;
        }
            .system-configure .table tr td select {
                border-radius: 0;
                border: 0;
            }
            .k-color-value {
                outline: none;
                outline-offset: 0;
                width: 100%!important;
            }