<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="Provider" providerName="System.Data.Odbc" 
		  connectionString="DRIVER={Sybase ASE ODBC Driver};NA=CNSHWHS1NR1X,5010;UID=pdchi;PWD=pdchi20021224;DB=GCRIS2" />
	</connectionStrings>-->
	<!--<connectionStrings>
		<add name="Publications" providerName="System.Data.OleDb" 
		  connectionString="Provider= Sybase.ASEOLEDBProvider;Initial Catalog=model;User ID=pdchi; Password = pdchi20021224;Data Source=CNSHWHS1NR1X;Persist Security Info=False" />
	</connectionStrings>-->
	<!--<connectionStrings>
		<add name="Publications" connectionString="Data Source=CNSHW3KQ1S1X;Initial Catalog=Test;integrated security=SSPI;User ID=sa;Password=sa;;" providerName="System.Data.SqlClient"/>
	</connectionStrings>-->
	<appSettings>
		<add key="DriverClassName" value = "Sybase" />
		<add key="ConnectionString" value = "Provider=Sybase.ASEOLEDBProvider.2;Initial Catalog=GCRIS2;User ID=pdchi;Password=pdchi20021224;Data Source=CNSHWHS1NR1X,5010;Persist Security Info=False" />
		<add key ="Provider" value="Sybase.Data.AseClient"/>
		<add key ="DatabaseType" value="Sybase"/>
	</appSettings>
  <!--<appSettings>
    <add  key="DatabaseType" value="SQL"/>
    <add  key="DriverClassName" value="SQL"/>
    <add  key="ConnectionString" value="Data Source=CNSHW3KQ1S1X;Initial Catalog=NorthWind;integrated security=SSPI;User ID=sa;Password=;integrated security=SSPI"/>
    <add  key="Provider" value="System.Data.SqlClient"/>
  </appSettings>-->
</configuration>