.table-data {
    width: 100%;
    height: 100%;
    position: relative;
    .table-operate {
        // width: 470px;
        // height: 40px;
        position: absolute;
        top: -34px;
        right: 11px;
        .operate-container {
            width: 100%;
            height: 100%;
            .common-operate {
                width: 47px;
                height: 20px;
                float: left;
                margin-left: 24px;
                font-size: 14px;
                color: #5c9df5;
                cursor: pointer;
                .common-operate-background {
                    margin-right: 2px;
                    margin-top: 2px;
                    float: left;
                    width: 17px;
                    height: 17px;
                    background: #d8d8d8;
                }
                .operate-stop-background {
                    background: #fff url('../../common/image/isActive.png') no-repeat center center;
                }
            }
            .common-data-operate {
                float: left;
                height: 32px;
                margin-right: 4px;
                .search-button {
                    color: #5c9df5;
                    margin-right: 15px;
                    line-height: 32px;
                    cursor: pointer;
                }
                .ant-select {
                    width: 200px;
                    height: 32px;
                    overflow-y: auto;
                }
                .input-search {
                    width: 129px;
                }
            }
            .search {
                cursor: pointer;
                line-height: 32px;
                padding-left: 20px;
                color: #5c9df5;
                width: 55px;
                background: #fff url('../../common/image/search.png') no-repeat left center;
            }
        }
        .operate-data {
            position: relative;
            top: -7px;
            right: 0;
        }
    }
    .ant-table{

        .ant-table-tbody{
            >tr>td{
                padding: 0 17px;
                .ant-checkbox-wrapper{
                    padding: 0;
                }
            }
        }
    }

    .ant-table-pagination.ant-pagination{
        padding: 16px;
    }

}

.search-modal-form {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.edit-modal-form {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ant-table-row-deactive td {
    background: rgba(244, 194, 194, 0.50)!important;
}
#import-form{
display:none;
}
.preview-modal{
    height: 500px;
}
.preview{
    width: 900px;
}