<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      
      <extensions>
        <bindingElementExtensions>
          <add name="swaMessageEncoding"
            type="HYS.Common.WCFHelper.SwA.SwaMessageEncodingElement, HYS.Common.WCFHelper" />
        </bindingElementExtensions>
        <behaviorExtensions>
          <add name="actionMappingEndpointBehavior"
               type="HYS.Common.WCFHelper.Filter.ActionMappingEndpointBehaviorExtension, HYS.Common.WCFHelper, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </behaviorExtensions>
      </extensions>
      
      <bindings>
            <basicHttpBinding>
                <binding name="PIXServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
          <customBinding>
            <binding name="SwaBindingConfiguration">
              <swaMessageEncoding innerMessageEncoding="textMessageEncoding" />
              <httpTransport maxReceivedMessageSize="62914560" authenticationScheme="Anonymous"
                maxBufferSize="62914560" proxyAuthenticationScheme="Anonymous"
                useDefaultWebProxy="true" />
            </binding>
          </customBinding>
        </bindings>
      
        <client>
            <endpoint address="http://localhost:2279/PIXService.asmx" binding="basicHttpBinding"
                bindingConfiguration="PIXServiceSoap" contract="ServiceReference1.PIXServiceSoap"
                name="PIXServiceSoap" />
          <endpoint binding="customBinding" bindingConfiguration="SwaBindingConfiguration"
                contract="HYS.MessageDevices.SOAPAdapter.Test.IAbstractContract" name="ABSTRACT_CLIENT_ENDPOINT"/>
        </client>
      
      <services>
        <service behaviorConfiguration="metadataBehavior"
                 name="HYS.MessageDevices.SOAPAdapter.Test.AbstractService">
          <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/xdsdocregistrya"/>
          </baseAddresses>
        </host>-->
          <endpoint binding="basicHttpBinding" bindingConfiguration="PIXServiceSoap"
                    contract="HYS.MessageDevices.SOAPAdapter.Test.IAbstractContract"
                    behaviorConfiguration="actionMappingBehavior" />
        </service>
      </services>
      
      <behaviors>
        <serviceBehaviors>
          <behavior name="metadataBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
        </serviceBehaviors>
        <endpointBehaviors>
          <behavior name="actionMappingBehavior">
            <actionMappingEndpointBehavior fromAction="*" toAction="ProcessMessage" />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      
    </system.serviceModel>
</configuration>