<form class="navbar-form navbar-left form-inline rispro-search-wrapform form-pos-right" role="search" style="margin-top: 10px;">
    <div class="form-group rispro-search-box">
        <input type="text" class="form-control input-sm input-search" placeholder="{{'PatientName' | translate}}" ng-model="patientName">
        <input type="text" class="form-control input-sm input-search" placeholder="{{'AccNo' | translate}}" ng-model="accNo">
        <button type="submit" class="btn btn-default btn-sm search-btn" ng-click="search()">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
</form>