<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="HYS.Common.Objects"/>
    <assembly name="HYS.Common.Objects"/>
    硬锁软锁关联类设置
    <container name="SL">
      <register type="License2.ILicenseControl" mapTo="SentinelDog.SentinelLDKOperation">
        <lifetime type="singleton"/>
      </register>
    </container>
    <container name="HL">
      <register type="License2.ILicenseControl" mapTo="SentinelDog.SentinelKeyOperation">
        <lifetime type="singleton"/>
      </register>
    </container>
  </unity>
  <appSettings>
    当前使用锁类型
    <add key="CurrentLockType" value="SL"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
