<div class="advice-edit-window2">
    <link href="/app-resources/css/request-edit-window.css" rel="stylesheet" />
    <style>
        #divExpertAdvice .photo {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }

        #divExpertAdvice hr {
            margin-top: 1px;
            margin-bottom: 10px;
            border-color: white;
        }

        #tabHostAdvice {
            float: left;
            box-sizing: border-box;
        }

            #tabHostAdvice .reporttab li {
                float: left;
                background-color: rgb(200,200,200);
                padding: 5px 5px;
                margin: 0 1px 0 0px;
                color: black;
                list-style: none;
            }

                #tabHostAdvice .reporttab li:hover, .reporttab li:hover a {
                    background-color: #eb9316;
                    color: white;
                }

                #tabHostAdvice .reporttab li a {
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    text-shadow: 1px 0px 3px rgb(157, 157, 157);
                    padding-left: 15px;
                    padding-right: 15px;
                }

                #tabHostAdvice .reporttab li:nth-child(1) {
                    border-radius: 4px 4px 0px 0px;
                    margin-left: 1px;
                }

                #tabHostAdvice .reporttab li:nth-child(2) {
                    border-radius: 4px 4px 0px 0px;
                }

            #tabHostAdvice .reporttab .active {
                background-color: #eb9316;
            }

        .request-advice-title .refresh-content {
            border-width: 0;
            margin: 0 20px 5px 0;
            text-decoration: none;
        }

        .request-advice-title .refresh-icon {
            font-size: 16px;
            color: #a7a9ac;
        }

        .request-advice-title .refresh-marker {
            color: red;
            position: relative;
            top: -10px;
            left: -5px;
            font-size: 16px;
        }

        #divExpertAdvice {
            height: 280px;
            width: 100%;
            overflow: hidden;
            border: 1px solid #cacaca;
            margin: 0;
            margin-bottom: 15px;
        }

            #divExpertAdvice .title {
                width: 100%;
                height: 30px;
                background-color: #cacaca;
                overflow: hidden;
            }

            #divExpertAdvice .title-icon {
                font-size: 20px;
                color: white;
                margin: 3px;
            }

            #divExpertAdvice .title-content {
                margin: 5px;
                color: white;
            }

            #divExpertAdvice .advice-content {
                width: 100%;
                height: 250px;
                background-color: #f4f4f4;
                overflow: auto;
                padding: 10px 10px 0 10px;
            }
    </style>


    <table style="width:100%;">
        <tr>
            <td>
                <div class="reportTemplate">
                    <div class="reportTemplate-scroll">
                        <div id="templateContainer">
                            <div class="sectionContainer k-header">
                                <div id="tvTemplate" kendo-tree-view k-options="toTemplate" style="overflow:visible;">
                                    <span k-template>
                                        # if (!item.items) { #
                                        <span class="btn btn-sm btn-link btn-selectable ris-popover" ng-mouseenter="$parent.showReportTemplate('#: item.id #')" ng-mouseleave="$parent.closeReportTemplate('#: item.id #')" ng-click="$parent.closeReportTemplate('#: item.id #')" id='#: item.id #' ng-dblclick="$parent.selectReportTemplate()"
                                              ris-popover popover-container=" body" popover-trigger="mouseenter" popover-auto-hide="true" data-overwrite="true" use-optimized-placement-algorithm="true"
                                              data-placement="right" data-templateurl="/app/consultation/views/request/window/report-selectreporttemplate-view.html" style="padding:0;">
                                            #: item.name #

                                        </span>
                                        # } else {#
                                        #: item.name #
                                        #}#
                                    </span>

                                </div>
                            </div>
                            <script id="treeview-template" type="text/kendo-ui-template">
                                <!--#: item.name #-->
                                # if (!item.items) { #
                                <span class="btn btn-sm btn-link btn-selectable ris-popover" ng-mouseenter="showReportTemplate('#: item.id #')" ng-mouseleave="$parent.closeReportTemplate('#: item.id #')" ng-click="$parent.closeReportTemplate('#: item.id #')" id='#: item.id #' ng-dblclick="$parent.selectReportTemplate()"
                                      ris-popover popover-container=" body" popover-trigger="mouseenter" popover-auto-hide="true" data-overwrite="true" use-optimized-placement-algorithm="true"
                                      data-placement="right" data-templateurl="/app/consultation/views/request/window/report-selectreporttemplate-view.html" style="padding:0;">
                                    #: item.name #

                                </span>
                                # } else {#
                                #: item.name #
                                #}#
                            </script>

                        </div>
                    </div>

                </div>
            </td>
            <td valign="top">
                <form name="requestAdvice" class="ris-form" style="padding:10px;">
                    <div class="row" id="divExpertAdvice">
                        <div class="title">
                            <a href="javascript:void(0);" class="ng-binding" ng-click="toggleExpertAdvice()">
                                <span class="pull-left title-icon glyphicon glyphicon-triangle-bottom" aria-hidden="true"
                                      id="iconExpertAdvice">
                                </span>
                            </a>
                            <label for="ConsiltationAdvice" class="title-content">{{'ExpertAdvice'|translate}}</label>
                            <a href="javascript:void(0);" ng-click="refreshExpertAdvice()" style="margin:5px;" class="pull-right refresh-content" title="{{'Refresh' | translate}}">
                                <span class="icon-refresh refresh-icon" aria-hidden="true"></span>
                                <span class="refresh-marker" ng-if="isUpdated">●</span>
                            </a>
                        </div>
                        <div ng-bind-html="expertAdvices" class="advice-content">

                        </div>
                    </div>

                    <div class="row" id="tabHostAdvice" style="width:100%;height:356px;margin:0;">

                        <table height="100%" width="100%">
                            <tr style="height:20px;">
                                <td valign="top">
                                    <ul style="padding:0;" class="reporttab">
                                        <li ng-class="{active:selectTab===1}">
                                            <a href translate ng-click="selectAdviceTab()">ConsiltationAdvice</a>
                                        </li>

                                        <li ng-class="{active:selectTab===2}">
                                            <a href ng-click="selectRemarkTab()" translate>Remark</a>
                                        </li>
                                        <br />

                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <div ng-show="selectTab === 1" style="width:100%;height:100%;">
                                        <textarea id="request-advice-text" kendo-editor ris-enter-index k-ng-model="advice.consultationAdvice"
                                                  k-tools="['bold','italic','underline','foreColor','backColor','fontSize',{name: 'fontName',items: [{ text: '宋体', value: '宋体' },{ text: '黑体', value: '黑体' }, { text: '微软雅黑', value: '微软雅黑' }]}]"
                                                  class="form-control col2input" style="height:310px;"></textarea>
                                    </div>

                                    <div ng-show="selectTab === 2" style="width:100%;height:100%">
                                        <textarea id="request-remark-text" kendo-editor ris-enter-index k-ng-model="advice.consultationRemark"
                                                  k-tools="['bold','italic','underline','foreColor','backColor','fontSize',{name: 'fontName',items: [{ text: '宋体', value: '宋体' },{ text: '黑体', value: '黑体' }, { text: '微软雅黑', value: '微软雅黑' }]}]"
                                                  class="form-control col2input" style="height:310px;"></textarea>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>


                </form>
            </td>
        </tr>
    </table>
    <div class="footer">
        <div class="request-advice-action">
            <button class="btn btn-green" translate ng-click="saveAdvice()">OK</button>
            <button class="btn btn-default btn-left" translate ng-click="close()">Cancel</button>
        </div>
    </div>
</div>