<div>
    <link href="/app-resources/css/request-apply-edit.css" rel="stylesheet" />
    <style>
        .apply-edit-center-window .favorite {
            color: red !important;
            opacity: 
        }
        .col-recipient {
            margin: 10px 10px 10px 0;
            border-top: 2px solid lightgray;
            padding: 10px;
        }

        .col-recipient-hide {
            display: none;
        }

        .tag-remove-edit {
            vertical-align: middle !important;
        }

        .col-recipient.ng-hide-add,
        .col-recipient.ng-hide-remove {
            -webkit-transition: .5s linear all;
            -moz-transition: .5s linear all;
            -ms-transition: .5s linear all;
            -o-transition: .5s linear all;
            transition: .5s linear all;
        }

        .col-recipient.ng-hide {
            -ms-opacity: 0;
            opacity: 0;
        }

        .expert-select-container {
            width: 100%;
            max-height: 70px;
            min-height: 35px;
            border: 1px solid lightgray;
            overflow-y: auto;
            float: left;
            margin-right: 15px;
        }
    </style>
    <div class="request-advice-title title">
        <strong>
            {{'ReceiverInformation' | translate}}
        </strong>
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button" ng-click="close()">×</button>
    </div>
    <form name="applyRequestForm" accessibleform class="ris-form">
        <div id="applyRequestFormContainer">
            <div class="col-md-11" style="width: 100%;">
                <div class="form-group">
                    <div class="col-md-3 col1" style="width: 120px;">
                        <label>{{'Receiver'|translate}}</label>
                    </div>
                    <div class="col-md-5 col2">
                        {{applyRequestData.receiver}}
                    </div>
                </div>
            </div>

            <div class="col-md-11" style="width: 100%;">
                <div class="form-group">
                    <div class="col-md-3 col1" style="width: 120px;">
                        <label>{{'RequestType'|translate}}</label>
                    </div>
                    <div class="col-md-5 col2">
                        <span ng-bind-html="applyRequestData | serviceTypeToImage"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-11" style="width: 100%;">
        
                    <div class="col-md-3 col1" style="width: 120px;">
                        <label>{{'SelectConsultationDate'|translate}}</label>
                        <span class="registration-edit-required">*</span>
                    </div>
                    <div class="col-md-5 col2" style="width: 260px;">
                        <p class="input-group">
                            <input id="expectedDate" type="text" datepicker-popup="yyyy-MM-dd" ris-datepicker-popup ris-enter-index
                                   is-open="selectExpectedDateOpened" datepicker-options="dateOptions" ris-datepicker-multiformat
                                   current-text="{{'Today' | translate}}" clear-text="{{'Clear' | translate}}" close-text="{{'Close' | translate}}"
                                   class="form-control col2input" placeholder="{{'SelectConsultationDate'|translate}}"
                                   name="expectedDate" ng-model="applyRequestData.currentDate" style="height: 34px; width: 220px;"
                                   tabindex="6" ris-enter-index datepicker-append-to-body="true"/>
                            <span class="input-group-btn" style="top: -6px;">
                                <button type="button" class="btn btn-default" ng-click="selectExpectedDate($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            <input id="expectedTime" style="width: 250px; top: -13px; margin-left: 10px;"/>
                        </p>
                    </div>
             
            </div>

            <div class="col-md-11" style="width: 100%;">
              
                    <div class="col-md-3 col1" style="width: 120px;">
                        <label>{{'AttendExpert'|translate}}</label>
                        <span class="registration-edit-required">*</span>
                    </div>
                    <div class="col-md-7 col2">
                        <div class="expert-select-container">
                            <span class="tag-selection" ng-repeat="ex in selectExpertData">
                                    <a class="icon-general icon-host glyphicon-gray " ng-class="{'favorite':ex.value === defaultID}" style="line-height: 0.3"
                                       ng-click="setHost(ex.value)"></a>
                                    <span>{{ex.text}}</span>
                                    <a><i class="remove glyphicon glyphicon-remove glyphicon-gray tag-remove-edit" ng-click="removeExpert(ex.value)"></i></a>
                                </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-green" ng-click="isShowRecipient=!isShowRecipient; initHide=false;">{{'SelectOtherResponser'|translate}}</button>
                    </div>
             
            </div>

            <div class="col-md-11" style="width: 100%;">
                <div class="col-recipient" ng-show="isShowRecipient" ng-class="{'col-recipient-hide':initHide}">
                    <recipient-selector selection="selectExpertData" mode="expertOnly"></recipient-selector>
                </div>
            </div>

         
            <div class="col-md-11" style="width: 100%;margin-top: 10px">
                <div class="form-group">
                    <div class="col-md-3 col1" style="width: 120px;">
                        <label>{{'Description'|translate}}</label>
                    </div>
                    <div class="col-md-5 col2" style="width: 600px;">
                        <textarea id="request-advice-text" ng-model="applyRequestData.description" class="form-control col2input" style="height: 110px"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="footer">
        <div class="request-advice-action">
            <button class="btn btn-green" translate ng-click="saveRequestReceive()">OK</button>
            <button class="btn btn-default btn-left" translate ng-click="close()">Cancel</button>
        </div>
    </div>
</div>