<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server.ClientFramework.Common.Properties.Settings.GCRIS2ConnectionString" connectionString="Data Source=cnshw1564j1x;Initial Catalog=GCRIS2;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Server.ClientFramework.Common.Properties.Settings.GCRIS3ConnectionString" connectionString="Data Source=CNSHW1564J1X;Initial Catalog=GCRIS3;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

  <appSettings>
    <!--LogService 配置-->
    <add key="RISLogServiceURL" value="http://localhost/LogService/RISLogService.asmx"/>
  </appSettings>
</configuration>
