<div>
    <img data-ng-src="{{src}}" width="80" height="80">
    <button class="btn btn-sm btn-normal" type="button" title="编辑头像" ng-click="pickImage()" style="vertical-align: bottom;"><span class="icon-general icon-edit" style="line-height: 1;"></span><span class="title"></span></button>
    <button class="btn btn-sm btn-normal" type="button" title="删除头像" ng-click="remove()" style="vertical-align: bottom;"><span class="icon-general icon-delete" style="line-height: 1;"></span><span class="title"></span></button>
</div>
