<div class="csd-popup csd-popup-dialog csd-popup-with-form csd-popup-dismissable" style="height:400px">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button" ng-click="cancel()" ng-disabled="isSaving">×</button>
    <p class="registration-module-title" style="font-size:14px" translate>RejectedReason</p>
    <div>
        <textarea class="form-control" ng-model="reason" style="height:320px">

        </textarea>
        <div class="csd-module-footer rejetc-reason-footer">
            <button  class="btn btn-green  btn-registration-edit-save" ng-click="ok()" translate>Ok</button>
            <button class="btn btn-registration-edit-cancel" type="button" ng-click="cancel()" translate>Cancel</button>
        </div>
</div>
</div>