<?xml version="1.0" encoding="utf-8" ?><AdapterConfigCfg><AdapterFileName>HYS.SQLInboundAdapterConfiguration.exe</AdapterFileName>
<AdapterDirection>INBOUND</AdapterDirection>
<DataDBConnection /><ConfigDBConnection /><WindowSize>800, 643</WindowSize>
<WarnBeforeCancel>True</WarnBeforeCancel>
</AdapterConfigCfg>
